---
layout: jtebase
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h4 Lab 05 - Create Guided Rules

  %section.title(data-state="cycling" )
    .title-information
      %h2 Lab Goal
      %h4 To create guided rules calculating shopping cart totals, totaling shopping cart items, and apply promotions for Cool Store

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * First we will create a new guided rule:
        * `Total Shopping Cart`

        `AUTHORING -> PROJECT AUTHORING -> NEW ITEM -> GUIDED RULE`

        `RESOURCE NAME: Total Shopping Cart`

        `(don't check the DSL box this time)`

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * Start by importing model object `ShoppingCart` for this rule:

        `CONFIG tab on the bottom of rule`

        `+NEW ITEM button at top, select ShoppingCart from Import list`

      <div style="float: right">
        <img src="/images/brms_bpms_workshop/image168.png" />
        <img src="/images/brms_bpms_workshop/image169.png" />
      </div>

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * Now return to the `Edit` tab an start designing our rule.
      * The condition (WHEN):
        * `'There is a ShoppingCart'`
        * assign a variable name to this ShoppingCart `'$sc'`

        <div style="float: right">
          <img src="/images/brms_bpms_workshop/image41.png" />
        </div>

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * The action (THEN) is a two part action
      * We want to operate on the given ShoppingCart ($sc):
        * Modify value of ShoppingCart field cartTotal to 0
        * Modify value of ShoppingCart field cartItemPromoSavings to following formula:

          `($sc.cartItemPromoSavings == 0.0) ? 0.0 : $sc.cartItemPromoSavings * -1`

        <div style="float: right">
          <img src="/images/brms_bpms_workshop/image42.png" />
        </div>


  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * Expand the 'show options' and add:

        `check NO-LOOP box`

        `RULEFLOW-GROUP: total-rules`

      * Save the rule.
      * Ensure your package builds:

        `TOOLS -> PROJECT EDITOR -> BUILD & DEPLOY`

        `(should see green pop-up 'Build Successful')`

        <div style="float: right">
          <img src="/images/brms_bpms_workshop/image43.png" />
        </div>

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * Now the final guided rule will be created on your own:
        * `Apply Cart Item Promotions`

        `AUTHORING -> PROJECT AUTHORING -> NEW ITEM -> GUIDED RULE`

        `RESOURCE NAME: Apply Cart Item Promotions`

        `(don't check the DSL box this time)`

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * The condition (WHEN) is two fold
        * Part I is about a ShoppingCartItem
        * Part II is about a PromoEvent that monitors an event stream `'Promo Stream'`
      * The action (THEN) will modify two ShoppingCart fields
        * promoSavings field
        * price field

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * The condition Part I:
        * `'There is a ShoppingCartItem'`
        * assign a variable name to this ShoppingCart `'$sci'`
        * `'with itemId'`
        * assign a variable name to this itemID `'$itemId'`

        <div style="float: right">
          <img src="/images/brms_bpms_workshop/image44.png" />
        </div>

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * The condition Part IIa
        * top green `+` sign adds second condition
        * start with from Entry Point and fill in: `'Promo Stream'`
        * within condition use `click to add patterns`
        * add `PromoEvent`, results in `'There is a PromoEvent'`

        <div align="center">
          <img src="/images/brms_bpms_workshop/image172.png" />
          <img src="/images/brms_bpms_workshop/image173.png" />
        </div>

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * The condition Part IIb
        * clicking on `PromoEvent` gives a pop-up
        * select entry

          `All of (And)`

          results in `'with all of the following'`

        <div style="float: right">
          <img src="/images/brms_bpms_workshop/image174.png" />
          <img src="/images/brms_bpms_workshop/image175.png" />
        </div>

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * The condition Part IIc
        * click on `all of the following"` line to add:
        * an itemId equal to the ShoppingCartItem `'$itemId'`
        * a percentageOff assigned variable `'$pctOff'`
        * percentageOff is over sliding window: `'none'`

        <div style="float: right">
          <img src="/images/brms_bpms_workshop/image45.png" />
        </div>

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * The action part of our rule is next:
        * `'Modify value of ShoppingCartItem ($sci)'`
        * `'promoSavings is set to 0.0'`
        * `'Modify value of ShoppingCartItem ($sci)'`
        * `'price is set to 0.0'`

        <div style="float: right">
          <img src="/images/brms_bpms_workshop/image46.png" />
        </div>

  %section(data-state="" )
    .title-information
      %h4 Creating guided rules
    :markdown
      * Expand the 'show options' and add:

        `check NO-LOOP box`

        `RULEFLOW-GROUP: promo-cart-rules`

      * Save the rule.
      * Ensure your package builds:

        `TOOLS -> PROJECT EDITOR -> BUILD & DEPLOY`

        `(should see green pop-up 'Build Successful')`

        <div style="float: right">
          <img src="/images/brms_bpms_workshop/image47.png" />
        </div>

  %section(data-state="buildguided" )
    .title-information

  %section(data-state="questions" )
    .title-information

  %section(data-state="" )
    .title-information
    :markdown
      <div style="float: left">
        <img height="100" width="700" src="/images/references.jpg" />
      </div>
      * JBoss BRMS & BPM Suite Articles
        * <font size="5">[_http://schabell.org/search/label/BRMS_] (http://schabell.org/search/label/BRMS) - [_http://schabell.org/search/label/BPMS_] (http://schabell.org/search/label/BPMS)</font>
      * JBoss BPM Suite Demos
        * <font size="5">[_http://www.schabell.org/2013/10/jboss-bpm-suite-rocking-the-mortgage-demo.html_] (http://www.schabell.org/2013/10/jboss-bpm-suite-rocking-the-mortgage-demo.html)</font>
        * <font size="5">[_http://www.schabell.org/2013/11/jboss-bpm-suite-automated-lending-generic-loan-demo.html_] (http://www.schabell.org/2013/11/jboss-bpm-suite-automated-lending-generic-loan-demo.html)</font>
        * <font size="5">[_http://www.schabell.org/2013/12/bpms-examining-migrated-customer-evaluation-demo.html_] (http://www.schabell.org/2013/12/bpms-examining-migrated-customer-evaluation-demo.html)</font>
        * <font size="5">[_https://github.com/eschabell/business-resource-optimizer-demo_] (https://github.com/eschabell/business-resource-optimizer-demo)</font>
      * JBoss xPaaS Demos
        * <font size="5">[_https://github.com/eschabell/cartridge-bpmPaaS_] (https://github.com/eschabell/cartridge-bpmPaaS)</font>
        * <font size="5">[_https://github.com/eschabell/cartridge-bpmPaaS-generic-loan-demo_] (https://github.com/eschabell/cartridge-bpmPaaS-generic-loan-demo)</font>

  %section.title(data-state="cycling" )
    .title-information
      %h4 Automate Your Business with JBoss Integration & BPM
      %h5
        :markdown
          * [Lab 06 - Create Technical Rules (DRL) ] (lab06.html)