---
layout: jtebase
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h4 Lab 14 - Process & Task and Business Dashboards (BAM)

  %section.title(data-state="cycling" )
    .title-information
      %h2 Lab Goal
      %h4 To explore the available dashboards in JBoss BPM Suite

  %section(data-state="" )
    .title-information
      %h4 BAM Dashboards
    :markdown
      * View Process & Task Dashboard
        * presents current status, history, and task information on processes
        * `DASHBOARDS -> PROCESS & TASK DASHBOARD`

      <div align="center">
        <img src="/images/brms_bpms_workshop/image165.png" />
      </div>

  %section(data-state="" )
    .title-information
      %h4 BAM Dashboards
    :markdown
      * View Process & Task Dashboard
        * if you ran single instance previously, your view will show one for all charts
        * we added a few more runs to make it more interesting

      <div align="center">
        <img src="/images/brms_bpms_workshop/image162.png" />
      </div>

  %section(data-state="" )
    .title-information
      %h4 BAM Dashboards
    :markdown
      * View Process & Task Dashboard
      * click to drill-down into the process `GenericLoanApplication` (top left)
        * shows status of all instances, versions, users with tasks, and much more
      * we have running instances, you can start another instance too now
        * return to this view and see that you have one completed and one active?

      <div align="center">
        <img src="/images/brms_bpms_workshop/image163.png" />
      </div>

  %section(data-state="" )
    .title-information
      %h4 BAM Dashboards
    :markdown
      * View Process & Task Dashboard
        * browse the dashboard and drill down into what interests you
        * to return to the top level, note filters being applied each click on right
        * click on trash icon (bottom right) to remove the filters, returning to top view

      <div style="float: right">
        <img src="/images/brms_bpms_workshop/image164.png" />
      </div>

  %section(data-state="" )
    .title-information
      %h4 BAM Dashboards
    :markdown
      * View Business Dashboard
      * Used to configure your own reports based on KPI's and data sources of your choosing
        * `DASHBOARDS -> BUSINESS DASHBOARDS`

      <div style="float: right">
        <img src="/images/brms_bpms_workshop/image166.png" />
      </div>

  %section(data-state="" )
    .title-information
      %h4 BAM Dashboards
    :markdown
      * View Business Dashboard
      * A short [workshop available on BAM reports] (https://github.com/eschabell/bpms-bam-dashboard/blob/master/docs/BAM%20lab%20guide.pdf?raw=true)
        * `BAM lab guide` provides a 1-2 hour workshop, found in docs directory.

      <div style="float: right">
        <img src="/images/brms_bpms_workshop/image167.png" />
      </div>

  %section(data-state="questions" )
    .title-information

  %section(data-state="" )
    .title-information
    :markdown
      <div style="float: left">
        <img height="100" width="700" src="/images/references.jpg" />
      </div>
      * JBoss BRMS & BPM Suite Articles
        * <font size="5">[_http://schabell.org/search/label/BRMS_] (http://schabell.org/search/label/BRMS) - [_http://schabell.org/search/label/BPMS_] (http://schabell.org/search/label/BPMS)</font>
      * JBoss BPM Suite Demos
        * <font size="5">[_http://www.schabell.org/2013/10/jboss-bpm-suite-rocking-the-mortgage-demo.html_] (http://www.schabell.org/2013/10/jboss-bpm-suite-rocking-the-mortgage-demo.html)</font>
        * <font size="5">[_http://www.schabell.org/2013/11/jboss-bpm-suite-automated-lending-generic-loan-demo.html_] (http://www.schabell.org/2013/11/jboss-bpm-suite-automated-lending-generic-loan-demo.html)</font>
        * <font size="5">[_http://www.schabell.org/2013/12/bpms-examining-migrated-customer-evaluation-demo.html_] (http://www.schabell.org/2013/12/bpms-examining-migrated-customer-evaluation-demo.html)</font>
        * <font size="5">[_https://github.com/eschabell/business-resource-optimizer-demo_] (https://github.com/eschabell/business-resource-optimizer-demo)</font>
      * JBoss xPaaS Demos
        * <font size="5">[_https://github.com/eschabell/cartridge-bpmPaaS_] (https://github.com/eschabell/cartridge-bpmPaaS)</font>
        * <font size="5">[_https://github.com/eschabell/cartridge-bpmPaaS-generic-loan-demo_] (https://github.com/eschabell/cartridge-bpmPaaS-generic-loan-demo)</font>

  %section.title(data-state="cycling" )
    .title-information
      %h1 The End
      %h4 Thanks for participating,
      %h4 spread the word
      %h4 and
      %h4 speak fondly of this workshop!
